
.job-post-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-post-inputs {
    width: 85%;
    text-align: center;
}

header {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}
