
.student-signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbface;

}

.student-signup-inputs {
    width: 85%;
    text-align: center;
}
